.card-container {
    width: 100%;
    height: 22.5vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.flag-container {
    height: 45%;
    width: 100%;
}

.flag-img {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.card-info {
    padding: 7.5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.country-name {
    margin: 0;
    font-size: 2.4rem;
}

.PRC p {
    margin: 0;
    line-height: 2.4rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.PRC span {
    font-weight: 300;
}

.link-fix {
    text-decoration: none;
    color: hsl(200, 15%, 8%);
}

@media (max-width: 59.18em) {
    .card-container {
        height: 27.5vw;
    }
}

@media (max-width: 46.81em) {
    .card-container {
        height: 32.5vw;
    }
}

@media (max-width: 46.65em) {
    .card-container {
        height: 40vw;
    }
}

@media (max-width: 36.87em) {
    .card-container {
        height: 85vw;
        width: 90%;
    }

    .country-name {
        font-size: 3rem;
    }

    .PRC p {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }
}

@media (max-width: 26.125em) {
    .PRC p {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media (max-width: 22.625em) {
    .country-name {
        font-size: 2.4rem;
    }

    .PRC p {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}